<ion-header>

  <ion-navbar>
    <ion-title>Busca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let produto of produtos">

    <ion-item>
      <h2>{{produto.dscProduto}}</h2>
    </ion-item>
  
  
    <ion-card-content>
      <p><b>Cód. Barras: </b>{{ produto.codGetin }}</p>
      <p><b>Dat. Ult. Emiss.: </b>{{ produto.dthEmissaoUltimaVenda | date: 'dd/MM/yyyy H:mm' }}</p>
      <p><b>Val. Unit. Ult. Venda: </b>{{ produto.valUnitarioUltimaVenda | currency:'BRL':symbol:'1.2-2' }}</p>
      <p><b>Val. Ult. Venda: </b>{{ produto.valUltimaVenda | currency:'BRL':symbol:'1.2-2' }}</p>
      <br>
      Onde encontrar:
      <p><b>Razão Social: </b>{{ produto.nomRazaoSocial }}</p>
      <p><b>Fantasia: </b>{{ produto.nomFantasia }}</p>
      <p><b>CNPJ: </b>{{ produto.numCNPJ }}</p>
      <p><b>Endereco: </b>{{ produto.nomLogradouro }}, {{ produto.numImovel }}, {{ produto.nomBairro }}, {{ produto.numCep }}, {{ produto.nomMunicipio }}</p>
    </ion-card-content>

  
  </ion-card>


</ion-content>
