<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
        <button ion-button icon-only (click)="backToHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item>
          <ion-icon name="cog" item-start></ion-icon>
            Câmbio e Transmissão
        </ion-item>
        <ion-item>
          <ion-icon name="car" item-start></ion-icon>
            Direção
        </ion-item>
        <ion-item>
            <ion-icon name="flash" item-start></ion-icon>
              Elétrica e Eletrônica
          </ion-item>
      </ion-list>

</ion-content>
