<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#f8f8f8;">
    <div *ngIf="selectedItem" padding>
        Produtos: <b>{{selectedItem.titulo}}</b>
            
        </div>
        <ion-spinner name="circles" *ngIf="produtos == 0"></ion-spinner>
        
        <ion-grid>
          <ion-row>
              <ion-col col-6 *ngFor="let produto of produtos">
                  <ion-card>
                    <ion-card-content>
                      <div><img class="prod_img" src="http://www.kenio.top/api_baratopecas/produtos/{{produto.imagem}}"></div>
                      <b>{{produto.titulo}}</b>
                      <br>{{produto.preco}}
                      <br><button style="font-size:10px;" ion-button small color="secondary">Onde Comprar</button>
                    </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
