page-produtoscategorias {
    .card, .card-md, .card-ios {
      webkit-box-shadow: none;
      box-shadow: none;
      border-radius:2px;
      padding:2px;
      margin: 0 !important;
    }

    .toolbar-background {
        background-color: #DFBC0D;
        color:#5E657F;
      }

      .toolbar-title{
        color: #5E657F;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .prod_img {
        width: 70px;
        height: 65px;
        }

}
