page-home {

    .card, .card-md, .card-ios {
      webkit-box-shadow: none;
      box-shadow: none;
      border-radius:2px;
    }

    .toolbar-background {
        background-color: #DFBC0D;
        color:#5E657F;
      }

      .toolbar-title{
        color: #5E657F;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    
    .story {
        white-space: nowrap;
        height: 105px
        }
        
        .story_scroll {
        display: inline-block;
        width: 70px;
        margin: 10px;
        }

        .story_img {
        width: 70px;
        height: 65px;
        border-radius: 50%;
        }
        .story_img_bg {
        width: 70px;
        height: 69px;
        padding: 2px;
        border-radius: 50%;
        padding-bottom: 0;
        transition: all 1s;
        -webkit-transition: all 0.2s;
        background: -webkit-linear-gradient(left top, #e0e0e0 0%, #e0e0e0 100%);
        }

        .story_img_bg:active {
        background: -webkit-linear-gradient(left top, #e1e1e1 0%, #e0e0e0 100%);
        transform: scale(1.1);
        }

        .story_text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 3px
        }
}
