<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="selectedItem" padding>
    Produtos: <b>{{selectedItem.titulo}}</b>
        
    </div>
    <ion-spinner name="circles" *ngIf="produtos == 0"></ion-spinner>
    
    <ion-grid>
      <ion-row>
          <ion-col col-6 *ngFor="let produto of produtos" padding>
              <div><img class="prod_img" src="http://www.kenio.top/api_baratopecas/produtos/{{produto.imagem}}"></div>
              <b>{{produto.titulo}}</b>
          </ion-col>
      </ion-row>
    </ion-grid>
    

</ion-content>
